/* Body text color #434455 */
/* Secondaty text color #2E2F42 */
/* Link color #434455 */
/* Footer text color #F4F4FD */
/* Accent color #4D5AE5 */

/* Bgc hero-footer #2E2F42; */
/* White btn-bcg  #FFFFFF; */
/* Team bgc #F4F4FD; */

/* Portfolio filer text #4D5AE5 */
/* Portfolio filter bgc active #404BBF */
/* Portfolio filter bgc #E7E9FC */

:root {
  --body-text: #434455;
  --secondary-text: #2e2f42;
  --accent-colour: #4d5ae5;
  --link: #434455;
  --hover-link: #404bbf;
  --footer-text: #f4f4fd;
  --white-color: #ffffff;
  --active-btn-bcg: #404bbf;
  --hero-footer-bgc: #2e2f42;
  --fw-500: 500;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: 'Roboto', sans-serif;

  color: var(--body-text);
  background-color: var(--white-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}
.subtitle {
  font-weight: var(--fw-500);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--secondary-text);
}
.title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--secondary-text);
}
.text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
  width: 1158px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
/* Header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}
/* Logo */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--accent-colour);
}
.header-logo {
  margin-right: 76px;
}
.header-studio {
  color: var(--secondary-text);
}

/* Nav */
.nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  position: relative;

  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: var(--fw-500);
  color: var(--secondary-text);
  transition: 250ms color var(--timing-function);
}
.current {
  color: var(--hover-link);
}
.current::after {
  position: absolute;
  bottom: -1px;
  right: 0;

  display: inline-block;
  content: '';
  width: 100%;
  height: 4px;
  color: var(--hover-link);
  background-color: var(--hover-link);
  border-radius: 2px;
}

.nav-item .nav-link:hover,
.nav-item .nav-link:focus {
  color: var(--hover-link);
}
.address {
  margin-left: auto;
}

.address-list {
  display: flex;
  gap: 40px;
}
.address-link {
  font-style: normal;
  line-height: 1.5;

  letter-spacing: 0.02em;
  color: var(--link);
  transition: 250ms color var(--timing-function);
}

.address-link:hover,
.address-link:focus {
  color: var(--hover-link);
}

/* Index */
/* Hero */
.hero {
  padding-top: 188px;
  padding-bottom: 188px;

  text-align: center;
  background-color: var(--hero-footer-bgc);
}
.overlay {
  max-width: 1440px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(46, 47, 66, 0.7);
}
.hero-title {
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;

  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;

  color: var(--white-color);
}
.hero-btn {
  display: block;
  height: 56px;
  min-width: 169px;
  margin: 0 auto;
  padding: 16px 32px;

  font-weight: var(--fw-500);
  letter-spacing: 0.04em;
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--accent-colour);
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: 250ms background-color var(--timing-function);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hover-link);
}
/* Feature */

.features-list {
  display: flex;
  gap: 24px;
}
.features-item {
  width: calc((100%-72px) / 4);
}
.features-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 8px;
  background-color: #f4f4fd;
  border-radius: 4px;
}

.features-subtitle {
  margin-bottom: 8px;
  color: var(--secondary-text);
}
/* Gallery */
.gallery {
  padding-top: 0px;
}

.gallery-list {
  display: flex;
  column-gap: 24px;
}
.gallery-item {
  width: calc((100%-48px) / 3);
}

/* Team */
.team {
  background-color: #f4f4fd;
}
.team-title {
}
.team-list {
  display: flex;
  column-gap: 24px;
}
.team-item {
  width: calc((100%-72px) / 4);

  text-align: center;

  background-color: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-content {
  padding: 32px 0;
}
.team-subtitle {
  margin-bottom: 8px;
}
.team-text {
  margin-bottom: 8px;
}

/* Socials */

.socials {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.footer-socials {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: var(--footer-text);
  background-color: var(--accent-colour);
  border-radius: 50%;
  transition: 250ms background-color var(--timing-function);
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--hover-link);
}
.footer-socials--link:hover,
.footer-socials--link:focus {
  background-color: #31d0aa;
}
.socials-icon {
  fill: currentColor;
}
/* Customers */
.customers-title {
}
.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.customers-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  padding: 16px 32px;

  color: #8e8f99;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
  color: var(--hover-link);
  border-color: var(--hover-link);
}
.customers-icon {
  transition: fill 250ms ease-in;
  fill: currentColor;
}

/* Portfolio */
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
/* Filter */
.filter-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.btn {
  padding: 12px 24px;

  font-weight: var(--fw-500);
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  border: 1px solid #e7e9fc;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  cursor: pointer;
}
.filter-btn {
  color: var(--accent-colour);
  background-color: var(--footer-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--white-color);
  background-color: var(--active-btn-bcg);
  border: 1px solid transparent;
}

/* Portfolio */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-item {
  width: calc((100%- 48px) / 3);
}
.portfolio-link {
  display: block;
  transition: 250ms box-shadow var(--timing-function);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.overlay-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-pic {
  opacity: 1;
}

.overlay-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  padding: 40px 32px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text);
  background-color: var(--accent-colour);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover .overlay-text,
.portfolio-link:focus .overlay-text {
  opacity: 1;
  transform: translateY(0);
}
.portfolio-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-subtitle {
  margin-bottom: 8px;
  color: var(--secondary-text);
}
.portfolio-text {
  color: var(--body-text);
}
/* Footer */
.footer {
  padding: 100px 0;
  background-color: var(--hero-footer-bgc);
}
.thumb {
  display: flex;
  align-items: baseline;
}
.thumb-logo {
  max-width: 264px;
  margin-right: 120px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-studio {
  color: var(--footer-text);
}
.footer-text {
  color: var(--footer-text);
}
.footer-subtitle {
  font-weight: var(--fw-500);
  margin-bottom: 16px;
  color: var(--white-color);
}

/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 408px;
  min-height: 576px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24px;
  min-height: 24px;
  padding: 0;

  margin-left: auto;

  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  border: none;
  color: var(--white-color);
  background-color: var(--hover-link);
}
.modal-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
